body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: 300;
	color: #4a4a4a;
	line-height: 24px;
}

a {
	text-decoration: none!important;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

a.filled-button {
	background-color: #0069AD;
	color: #fff;
	font-size: 14px;
	text-transform: capitalize;
	font-weight: 300;
	padding: 10px 20px;
	border-radius: 5px;
	display: inline-block;
	transition: all 0.3s;
}

a.filled-button:hover {
	background-color: #121212;
	color: #fff;
}

.section-heading {
	text-align: left;
	margin-bottom: 60px;
	border-bottom: 1px solid #eee;
}

.section-heading h2 {
	font-size: 28px;
	font-weight: 400;
	color: #1e1e1e;
	margin-bottom: 15px;
}

.page-heading {
	padding: 210px 0px 130px 0px;
	text-align: center;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.page-heading .text-content h4 {
	color: #0069AD;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 15px;
}

.page-heading .text-content h2 {
	color: #fff;
	font-size: 62px;
	text-transform: uppercase;
	letter-spacing: 5px;
}


header {
	position: absolute;
	z-index: 99999;
	width: 100%;
	/*height: 80px;*/
	/*background-color: #232323;*/
	-webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
header .navbar {
	padding: 17px 0px;
}
.navbar .navbar-brand {
	float: 	left;
	margin-top: -12px;
	outline: none;
}
.navbar .navbar-brand h2 {
	color: #02080F;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
	-webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
.navbar .navbar-brand h2 em {
	font-style: normal;
	color: #0069AD;
}
#navbarResponsive {
	z-index: 999;
}
.navbar-collapse {
	text-align: center;
}
.navbar .navbar-nav .nav-item {
	margin: 0px 15px;
}
.navbar .navbar-nav a.nav-link {
	text-transform: capitalize;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.5px;
	color: #02080F;
	transition: all 0.5s;
	margin-top: 5px;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link {
	color: #02080F;
	padding-bottom: 25px;
	border-bottom: 3px solid #0069AD;
}
/*.navbar .navbar-toggler-icon {
	background-image: none;
}*/
.navbar .navbar-toggler {
	border-color: #fff;
	background-color: #fff;	
	height: 36px;
	outline: none;
	border-radius: 0px;
	position: absolute;
	right: 30px;
	top: 20px;
}
.navbar .navbar-toggler-icon:after {
	content: '\f0c9';
	color: #0069AD;
	font-size: 18px;
	line-height: 26px;
	font-family: 'FontAwesome';
}



/* Banner Style */
.banner {
	position: relative;
	text-align: center;
	/*padding-top: 80px;*/
}

.banner-item-01 {
	/*padding: 300px 0px;*/
	/*background-image: url(../images/banner.jpg);*/
	/*background: radial-gradient(ellipse at center, #061a33 0%, #000 100%);*/
	/*background-color: #02080F;*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: relative;
	height: 30vw;	
}

.banner .banner-item {
	max-height: 600px;
}

.banner .text-content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	width: 100%;
}

.banner .text-content h4 {
	color: #0069AD;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 15px;
}

.banner .text-content h2 {
	color: #02080F;
	font-size: 62px;
	text-transform: uppercase;
	letter-spacing: 5px;
}
/*
.moon {
	top:10vw;
	left:20vw;
	width: 12vw;
	height: 12vw;
	background-image: url(../images/moon2.png);
	box-shadow: 0px 0px 75px 0px rgba(229, 226, 210, 0.6), 0px 0px 150px 0px rgba(222, 221, 215, 0.3);
	background-color: none;
	background-size: 102%;
	position: absolute;
	border-radius: 50%;
}
*/
.star {
	background-color: #f3f2d6;
	border-radius: 50%;
	position: absolute;
}

.star1 {
	width:2px;
	height: 2px;
	top:25%;
	left:40%;
	background-color: #f3f2d6;
}

.star2 {
	width:2px;
	height: 2px;
	top:75%;
	left:50%;
	background-color: #f3f2d6;
}

.star3 {
	width:1px;
	height: 1px;
	top:55%;
	left:10%;
	background-color: #f3f2d6;
}

.star4 {
	width:2px;
	height: 2px;
	top:35%;
	left:60%;
	animation: pulse 5s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

.star5 {
	width:2px;
	height: 2px;
	top:30%;
	left:50%;/
	background-color: #f3f2d6;
}

.star6 {
	width:2px;
	height: 2px;
	top:60%;
	left:35%;
	background-color: #f3f2d6;
}

.star7 {
	width:1px;
	height: 1px;
	top:70%;
	left:70%;
	background-color: #f3f2d6;
}

.star8 {
	width:1px;
	height: 1px;
	top:25%;
	left:80%;
	background-color: #f3f2d6;
}

.star9 {
	width:1px;
	height: 1px;
	top:45%;
	left:90%;
	background-color: #f3f2d6;
}

.star10 {
	width:2px;
	height: 2px;
	top:65%;
	left:45%;
	background-color: #f3f2d6;
}

.star11 {
	width:2px;
	height: 2px;
	top:70%;
	left:1%;
	animation: pulse 12s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

.star12 {
	width:3px;
	height: 3px;
	top:47%;
	left:72%;
	animation: pulse 14s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

.star13 {
	width:3px;
	height: 3px;
	top:32%;
	left:31%;
	animation: pulse 5s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

.star14 {
	width:2px;
	height: 2px;
	top:15%;
	left:15%;
	animation: pulse 17s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

.star15 {
	width:1px;
	height: 1px;
	top:90%;
	left:90%;
	animation: pulse 2s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

.star16 {
	width:1px;
	height: 1px;
	top:90%;
	left:23%;
	animation: pulse 7s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

.star17 {
	width:2px;
	height: 2px;
	top:5%;
	left:90%;
	animation: pulse 5s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

.star18 {
	width:3px;
	height: 3px;
	top:90%;
	left:5%;
	animation: pulse 8s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

.star19 {
	width:3px;
	height: 3px;
	top:62%;
	left:62%;
	animation: pulse 11s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

.star20 {
	width:3px;
	height: 3px;
	top:72%;
	left:89%;
	animation: pulse 6s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

.star21 {
	width:2px;
	height: 2px;
	top:42%;
	left:23%;
	animation: pulse 7s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

.star22 {
	width:1px;
	height: 1px;
	top:23%;
	left:42%;
	animation: pulse 2s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

.star23 {
	width:2px;
	height: 2px;
	top:92%;
	left:52%;
	animation: pulse 6s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

.star24 {
	width:1px;
	height: 1px;
	top:52%;
	left:92%;
	animation: pulse 4s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

.star25 {
	width:3px;
	height: 3px;
	top:72%;
	left:89%;
	animation: pulse 5s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

.star26 {
	width:2px;
	height: 2px;
	top:60%;
	left:30%;
	animation: shooting-star 8s ease-out 8s forwards infinite;
	background-color: #f3f2d6;
}

.star27 {
	width:2px;
	height: 2px;
	top:10%;
	left:60%;
	animation: shooting-star 10s ease-out 15s forwards infinite;
	background-color: #f3f2d6;
}

.star28 {
	width: 2px;
	height: 2px;
	top:30%;
	left:10%;
	animation: shooting-star 15s ease-out 10s forwards infinite;
	background-color: #f3f2d6;
}

.star29 {
	width:2px;
	height: 2px;
	top:80%;
	left:20%;
	animation: shooting-star 12s ease-out 9s forwards infinite;
	background-color: #f3f2d6;
}

.star30 {
	width:1px;
	height: 1px;
	top:77%;
	left:38%;
	animation: shooting-star 7s ease-out 9s forwards infinite;
	background-color: #f3f2d6;
}

.star31 {
	width:1px;
	height: 1px;
	top:50%;
	left:60%;
	animation: shooting-star 9s ease-out 7s forwards infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

.star32 {
	width:1px;
	height: 1px;
	top:78%;
	left:12%;
	animation: pulse 4s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

.star33 {
	width:1px;
	height: 1px;
	top:17%;
	left:85%;
	animation: pulse 4s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

.star34{
	width:1px;
	height: 1px;
	top:57%;
	left:13%;
	background-color: #f3f2d6;
}

.star35 {
	width:1px;
	height: 1px;
	top:88%;
	left:88%;
	background-color: #f3f2d6;
}

.star36 {
	width:1px;
	height: 1px;
	top:84%;
	left:61%;
	animation: pulse 4s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}
.star37 {
	width:1px;
	height: 1px;
	top:54%;
	left:54%;
	animation: pulse 5s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

.star38 {
	width:1px;
	height: 1px;
	top:46%;
	left:46%;
	animation: pulse 6s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

.star39 {
	width:1px;
	height: 1px;
	top:57%;
	left:43%;
	animation: pulse 2s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

.star40 {
	width:1px;
	height: 1px;
	top:43%;
	left:57%;
	animation: pulse 8s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

.star41 {
	width:2px;
	height: 2px;
	top:59%;
	left:62%;
	animation: pulse 4s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

.star42 {
	width:1px;
	height: 1px;
	top:62%;
	left:59%;
	animation: pulse 5s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

.star43 {
	width:1px;
	height: 1px;
	top:22%;
	left:22%;
	animation: pulse 6s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

.star44 {
	width:2px;
	height: 2px;
	top:88%;
	left:88%;
	animation: pulse 7s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

.star45 {
	width:1px;
	height: 1px;
	top:88%;
	left:22%;
	animation: pulse 3s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

.star46 {
	width:2px;
	height: 2px;
	top:22%;
	left:88%;
	animation: pulse 6s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

.star47 {
	width:1px;
	height: 1px;
	top:47%;
	left:31%;
	animation: pulse 2s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

.star48 {
	width:2px;
	height: 2px;
	top:71%;
	left:31%;
	animation: pulse 3s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

.star49 {
	width:1px;
	height: 1px;
	top:31%;
	left:71%;
	animation: pulse 3s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

.star50 {
	width:2px;
	height: 2px;
	top:95%;
	left:33%;
	animation: pulse 4s linear infinite;
	transition-timing-function: ease-in-out;
	background-color: #f3f2d6;
}

@keyframes pulse {
	 50% {
	 	opacity: 0;
	 }
}

@keyframes shooting-star {
  0% {
    transform: scale(1);
    transform: translate(0,0);
    opacity: 1;
  }
  20%,100% {
    transform: scale(0);
    transform: translate(400px,200px);
    opacity: 0;
  }
}

/* Latest Projects */

.latest-projects {
	margin-top: 50px;
}

.latest-projects .section-heading a {
	float: right;
	margin-top: -35px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	color: #0069AD;
}

.project-item {
	border: 1px solid #eee;
	margin-bottom: 30px;
	position: relative;
}

.project-item .down-content {
	padding: 30px;
	position: relative;
}

.project-item img {
	width: 100%;
	overflow: hidden;
}

.project-item .down-content h4 {
	font-size: 17px;
	color: #1a6692;
	margin-bottom: 20px;
}

.project-item .down-content h6 {
	position: absolute;
	top: 30px;
	right: 30px;
	font-size: 18px;
	color: #121212;
}

.project-item .down-content p {
	margin-bottom: 20px;
}

.project-item .down-content ul li {
	display: inline-block;
}

.project-item .down-content ul li i {
	color: #0069AD;
	font-size: 14px;
}

.project-item .down-content span {
	position: absolute;
	right: 30px;
	bottom: 30px;
	font-size: 13px;
	color: #0069AD;
	font-weight: 500;
}

.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 21px;
  color: #fff;
  width: 100%;
  text-align: center;
}


.grad1 {
	background-image: url(../images/project_01.jpg);
	filter: brightness(50%);
	width: 370px;
	height: 170px;
}

.grad2 {
	background-image: url(../images/project_02.jpg);
	filter: brightness(50%);
	width: 370px;
	height: 170px}

.grad3 {
	background-image: url(../images/project_03.jpg);
	filter: brightness(50%);
	width: 370px;
	height: 170px;
}

.grad4 {
	background-image: url(../images/project_04.jpg);
	filter: brightness(50%);
	width: 370px;
	height: 170px;
}

.grad5 {
	background-image: url(../images/project_05.jpg);
	filter: brightness(50%);
	width: 370px;
	height: 170px;
}

.grad6 {
	background-image: url(../images/project_06.jpg);
	filter: brightness(50%);
	width: 370px;
	height: 170px;
}

.call-to-action .inner-content {
	margin-top: 60px;
	padding: 30px;
	background-color: #f7f7f7;
	border-radius: 5px;
}

.call-to-action .inner-content h4 {
	font-size: 17px;
	color: #1a6692;
	margin-bottom: 15px;
}

.call-to-action .inner-content em {
	font-style: normal;
	font-weight: 700;
}

.call-to-action .inner-content .col-md-4 {
	text-align: right;
}

.call-to-action .inner-content .filled-button {
	margin-top: 12px;
}



/* Responsive */
@media (max-width: 768px) {
	.banner .text-content {
		width: 90%;
		margin-left: 5%;
	}
	.banner .text-content h4 {
		font-size: 22px;
	}

	.banner .text-content h2 {
		font-size: 36px;
		letter-spacing: 0.5px;
	}
	.banner-item-01,
	.banner-item-02,
	.banner-item-03 {
		padding: 180px 0px;
	}
	.page-heading .text-content h4 {
		font-size: 22px;
	}

	.page-heading .text-content h2 {
		font-size: 36px;
		letter-spacing: 0.5px;
	}
	.latest-projects .section-heading a {
		float: none;
		margin-top: 0px;
		display: block;
		margin-bottom: 20px;
	}
	.project-item .down-content h4 {
		margin-bottom: 20px!important;
	}
	.project-item .down-content h6 {
		position: absolute!important;
		top: 30px!important;
		right: 30px!important;
	}
	.project-item .down-content span {
		position: absolute!important;
		right: 30px!important;
		bottom: 30px!important;
	}
	.best-features .left-content {
		margin-bottom: 30px;
	}
	.call-to-action .inner-content {
		text-align: center;
	}
	.call-to-action .inner-content .filled-button {
		text-align: center;
		width: 100%;
		margin-top: 20px;
	}
	.about-features img {
		margin-bottom: 30px;
	}
	.service-item {
		margin-bottom: 30px;
	}
	.find-us #map {
		margin-bottom: 30px;
	}
	.find-us .left-content {
		margin-left: 0px;
	}
	.send-message .accordion {
		margin-top: 30px;
		margin-left: 0px;
	}
}

@media (max-width: 992px) {
	.navbar .navbar-brand {
		position: absolute;
		left: 30px;
		top: 32px;
	}
	.navbar .navbar-brand {
		width: auto;
	}
	.navbar:after {
		display: none;
	}
	#navbarResponsive {
	    z-index: 99999;
	    position: absolute;
	    /*top: 80px;*/
	    left: 0;
	    width: 100%;
	    text-align: center;
	    background-color: #fff;
	    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	}
	.navbar .navbar-nav .nav-item {
		border-bottom: 1px solid #eee;
	}
	.navbar .navbar-nav .nav-item:last-child {
		border-bottom: none;
	}
	.navbar .navbar-nav a.nav-link {
		padding: 15px 0px;
		color: #1e1e1e!important;
	}
	.navbar .navbar-nav .nav-link:hover,
	.navbar .navbar-nav .active>.nav-link,
	.navbar .navbar-nav .nav-link.active,
	.navbar .navbar-nav .nav-link.show,
	.navbar .navbar-nav .show>.nav-link {
		color: #0069AD!important;
		border-bottom: none!important;
		padding-bottom: 15px;
	}
	.project-item .down-content h4 {
		margin-bottom: 10px;
	}
	.project-item .down-content h6 {
		position: relative;
		top: 0;
		right: 0;
		margin-bottom: 20px;
	}
	.project-item .down-content span {
		position: relative;
		right: 0;
		bottom: 0;
	}
}


.output {
  color:black;
    animation-iteration-count: 2;
}

/* Cursor Styling */

.cursor::after {
  content:'';
  display:inline-block;
  margin-left:3px;
  background-color:white;
  animation-name:blink;
  animation-duration:0.5s;
  animation-iteration-count: 2;
}

@keyframes blink {
  0% {
    opacity:1;
  }
  49% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}
