body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: 300;
	color: #4a4a4a;
	line-height: 24px;
}

a {
	text-decoration: none!important;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

a.filled-button {
	background-color: #0069AD;
	color: #fff;
	font-size: 14px;
	text-transform: capitalize;
	font-weight: 300;
	padding: 10px 20px;
	margin-top: 20px;
	margin-right: 20px;
	border-radius: 5px;
	display: inline-block;
	transition: all 0.3s;
}

a.filled-button:hover {
	background-color: #121212;
	color: #fff;
}

.section-heading {
	margin-bottom: 60px;
	border-bottom: 1px solid #eee;
}

.section-heading h2 {
	font-size: 28px;
	font-weight: 400;
	color: #1e1e1e;
	margin-bottom: 15px;
	text-align: right;
}

.page-heading {
	padding: 210px 0px 130px 0px;
	text-align: center;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.page-heading .text-content h4 {
	color: #0069AD;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 25px;
	margin-bottom: 15px;
}

.page-heading .text-content h2 {
	color: #fff;
	font-size: 62px;
	text-transform: uppercase;
	letter-spacing: 5px;
}


header {
	position: absolute;
	z-index: 99999;
	width: 100%;
	/*height: 80px;*/
	/*background-color: #232323;*/
	-webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
header .navbar {
	padding: 17px 0px;
}
.navbar .navbar-brand {
	float: 	left;
	margin-top: -12px;
	outline: none;
}
.navbar .navbar-brand h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
	-webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
.navbar .navbar-brand h2 em {
	font-style: normal;
	color: #0069AD;
}
#navbarResponsive {
	z-index: 999;
}
.navbar-collapse {
	text-align: center;
}
.navbar .navbar-nav .nav-item {
	margin: 0px 15px;
}
.navbar .navbar-nav a.nav-link {
	text-transform: capitalize;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.5px;
	color: #fff;
	transition: all 0.5s;
	margin-top: 5px;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link {
	color: #fff;
	padding-bottom: 25px;
	border-bottom: 3px solid #0069AD;
}
/*.navbar .navbar-toggler-icon {
	background-image: none;
}*/
.navbar .navbar-toggler {
	border-color: #fff;
	background-color: #fff;	
	height: 36px;
	outline: none;
	border-radius: 0px;
	position: absolute;
	right: 30px;
	top: 0px;
}
.navbar .navbar-toggler-icon:after {
	content: '\f0c9';
	color: #0069AD;
	font-size: 18px;
	line-height: 26px;
	font-family: 'FontAwesome';
}



/* Banner Style */
.banner {
	position: relative;
}

.banner-item-01 {
	background: radial-gradient(ellipse at center, #0a2a52 0%, #02070f 100%);
	background-size: cover;
	background-repeat: no-repeat;
	height: 28vw;	
	position: relative;
}

.banner .banner-item {
	max-height: 600px;
}

.banner .text-content {
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
	padding: 10vw 15px 0 15px;
	width: 100%;
	text-align: left;
}

.banner .text-content h4 {
	color: #0069AD;
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 25px;
	margin-bottom: 15px;
	letter-spacing: 2px;
}

.banner .text-content h2 {
	color: #fff;
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 15px;
}

/* Latest Projects */

/*.latest-projects {
	margin-top: 50px;
}*/

.latest-projects .section-heading a {
	float: right;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	color: #0069AD;
}

.project-item {
	border: 1px solid #eee;
	margin-bottom: 30px;
	position: relative;
}

.project-item .down-content {
	padding: 30px;
	position: relative;
}

.project-item img {
	width: 100%;
	overflow: hidden;
}

.project-item .down-content h4 {
	font-size: 17px;
	color: #1a6692;
	margin-bottom: 20px;
}

.project-item .down-content h6 {
	position: absolute;
	top: 30px;
	right: 30px;
	font-size: 18px;
	color: #121212;
}

.project-item .down-content p {
	margin-bottom: 20px;
}

.project-item .down-content ul li {
	display: inline-block;
}

.project-item .down-content ul li i {
	color: #0069AD;
	font-size: 14px;
}

.project-item .down-content span {
	position: absolute;
	right: 30px;
	bottom: 30px;
	font-size: 13px;
	color: #0069AD;
	font-weight: 500;
}

.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 21px;
  color: #fff;
  width: 100%;
  text-align: center;
}

.grad1, .grad2, .grad3, .grad4, .grad5, .grad6 {
	width: 370px;
	height: 170px;
}
	
.grad1 {
	background-image: url(../images/project_01.jpg);
}

.grad2 {
	background-image: url(../images/project_02.jpg);
}

.grad3 {
	background-image: url(../images/project_03.jpg);
}

.grad4 {
	background-image: url(../images/project_04.jpg);
}

.grad5 {
	background-image: url(../images/project_05.jpg);
}

.grad6 {
	background-image: url(../images/project_06.jpg);
}

.best-features {
	/*background: radial-gradient(ellipse at center, #0a2a52 0%, #02070f 100%);*/
	padding-bottom: 150px;
}

.call-to-action .inner-content {
	margin-top: 60px;
	padding: 30px;
	background-color: #f7f7f7;
	border-radius: 5px;
}

.call-to-action .inner-content h4 {
	font-size: 17px;
	color: #1a6692;
	margin-bottom: 15px;
}

.call-to-action .inner-content em {
	font-style: normal;
	font-weight: 700;
}

.call-to-action .inner-content .col-md-4 {
	text-align: right;
}

.call-to-action .inner-content .filled-button {
	margin-top: 12px;
}



/* Responsive */
@media (max-width: 768px) {
	.banner .text-content {
		width: 90%;
		margin-left: 5%;
	}
	.banner .text-content h4 {
		font-size: inherit;
	}

	.banner .text-content h2 {
		font-size: 20px;
		letter-spacing: 0.5px;
		padding-top: 20px;
	}
	.banner-item-01 {
		padding: 75px 0px;
		height: inherit;
	}
	.page-heading .text-content h4 {
		font-size: 20px;
	}

	.page-heading .text-content h2 {
		font-size: 20px;
		letter-spacing: 0.5px;
	}

	.navbar-brand {
		width: 100%;
		white-space: normal;
	}

	.call-to-action {
		display: flex;
	}

	.call-to-action a{
		padding: 5px;
	}

	.latest-projects .section-heading a {
		float: none;
		margin-top: 0px;
		display: block;
		margin-bottom: 20px;
	}
	.project-item .down-content h4 {
		margin-bottom: 20px!important;
	}
	.project-item .down-content h6 {
		position: absolute!important;
		top: 30px!important;
		right: 30px!important;
	}
	.project-item .down-content span {
		position: absolute!important;
		right: 30px!important;
		bottom: 30px!important;
	}

	.best-features .left-content {
		margin-bottom: 30px;
	}

	.call-to-action .inner-content {
		text-align: center;
	}
	.call-to-action .inner-content .filled-button {
		text-align: center;
		width: 100%;
		margin-top: 20px;
	}
	.about-features img {
		margin-bottom: 30px;
	}
	.service-item {
		margin-bottom: 30px;
	}
	.find-us #map {
		margin-bottom: 30px;
	}
	.find-us .left-content {
		margin-left: 0px;
	}
	.send-message .accordion {
		margin-top: 30px;
		margin-left: 0px;
	}
}

@media (max-width: 992px) {
	.navbar .navbar-brand {
		position: absolute;
		left: 30px;
		top: 2px;
	}
	.navbar .navbar-brand {
		width: auto;
	}
	.navbar:after {
		display: none;
	}
	#navbarResponsive {
	    z-index: 99999;
	    position: absolute;
	    /*top: 80px;*/
	    left: 0;
	    width: 100%;
	    text-align: center;
	    background-color: #fff;
	    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	}
	.navbar .navbar-nav .nav-item {
		border-bottom: 1px solid #eee;
	}
	.navbar .navbar-nav .nav-item:last-child {
		border-bottom: none;
	}
	.navbar .navbar-nav a.nav-link {
		padding: 15px 0px;
		color: #1e1e1e!important;
	}
	.navbar .navbar-nav .nav-link:hover,
	.navbar .navbar-nav .active>.nav-link,
	.navbar .navbar-nav .nav-link.active,
	.navbar .navbar-nav .nav-link.show,
	.navbar .navbar-nav .show>.nav-link {
		color: #0069AD!important;
		border-bottom: none!important;
		padding-bottom: 15px;
	}
	.project-item .down-content h4 {
		margin-bottom: 10px;
	}
	.project-item .down-content h6 {
		position: relative;
		top: 0;
		right: 0;
		margin-bottom: 20px;
	}
	.project-item .down-content span {
		position: relative;
		right: 0;
		bottom: 0;
	}
}
